/**
* Icon font classes
*
* @author splitfire - http://splitfire.fr
* @version 1.0
*
* @ref http://icomoon.io/
*
* Module de gestion des incon font
*
*/ 


/* Mixin pour les incon-font
 * L'idée étant de centraliser cette proprieté afin de pouvoir l'utiliser dans differents cas et donc rendre la syntaxe maintenanble
 */
@mixin icon-font()
{
	display: inline-block;
	font-family: 'icon';
	@include rem((
		width 		: 48px,
		height		: 48px,
		font-size	: 48px,
		line-height : 48px
	));
	speak: none;
	vertical-align: middle;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


/*
 * Classe générique des incon-font
 * [class*="icon-"] gére toute les class en icon-*
 * 	Placeholder %icon-style pour @extend
*/
%icon-style,
[class*="icon-"] 
{
	@include icon-font;
}

.icon-iconmonstr-twitter-icon:before {
	content: "\e600";
	color: $colorTwitter;
}
.icon-iconmonstr-pinterest-icon:before {
	content: "\e601";
	color: colorPinterest;
}
.icon-iconmonstr-linkedin-icon:before {
	content: "\e602";
	color:$colorLinkedin
}
.icon-iconmonstr-google-plus-icon:before {
	content: "\e603";
	color:$colorGoogle;
}
.icon-iconmonstr-github-6-icon:before {
	content: "\e604";
	color:$colorGithub
}
.icon-iconmonstr-email-11-icon:before {
	content: "\e606";
}



