/**
* typo classes
*
* @author splitfire - http://splitfire.fr
* @version 1.0
*
*/


@font-face {
	font-family: 'icon';
	src:url('../../../assets/font/icon.eot?-bnu90i');
	src:url('../../../assets/font/icon.eot?#iefix-bnu90i') format('embedded-opentype'),
		url('../../../assets/font/icon.woff?-bnu90i') format('woff'),
		url('../../../assets/font/icon.ttf?-bnu90i') format('truetype'),
		url('../../../assets/font/icon.svg?-bnu90i#icon') format('svg');
	font-weight: normal;
	font-style: normal;
}