body 
{
	background-color:#f8f8f8;
	color: #fff;
	-webkit-text-size-adjust: none;
	font : 87.5% /22px $defaultFont;
	font-weight:400;
}
.viewport
{
	display: table;
	width: 100%;
	@include rem((
		min-width: $minWidth,
		max-width: $maxWidth
	));
	height: 100%;
	margin: 0 auto;
	text-align: center;
	background-image: url(../../../assets/images/bg.jpg);
	background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.content
{
	display: table-cell;
	vertical-align: middle;
	font-size:rem(32px);
	line-height: rem(41px);
	text-shadow: 0 0 2px #000;
}
.icon_wrapper
{
	margin:20px 0 0 0;
	> a
	{
		display: inline-block;
		margin-left:10px;
	    transition: transform 1.25s ease-out 0s;
	
	}
	> a:hover
	{
		text-decoration: none;
		transform: scale(2);
	    transition: transform 1.25s ease-out 0s;
	}
}
.sfx
{
	color: #C23416;
	text-shadow: none;
}

