
html,
body {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  font-weight: 400;
  text-size-adjust: none;
  font-family: system-ui;
  color: #2d3748;
}

html {
  box-sizing: border-box;
  border-collapse: collapse;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* { border-collapse: inherit; }

a {
  color: inherit;
}

main {
  display: flex;
  min-height: 100vh;
  min-width: 20rem;
}

article {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  line-height: 1.625;
}

.text {
  max-width: 66.68rem;
  padding: 0 1em;
}

.welcome {
  font-size: 3rem;
  color: #000;
}

.profil {
  font-size: 1.655rem;
  margin-top: 1.5rem;
}

.wrapperLink {
  margin-top: 1.5rem;
  border-top: solid 1px #2d3748;
  padding-top: 1rem;
  display: flex;
  justify-content: center;
}

.link {
  font-size: 1.5rem;
}

.link + .link {
  margin-left: 1rem;
}

.blog {
  font-size: 1.25rem;
  margin-top: 2rem;
}

.time {
  font-size: .625rem;
}

.changelog {
  font-size: .75rem;
  margin-top: 1rem;
}

.changelog ul {
  margin-top: 0;
}
